<p>Hi {{name}},</p>

<p>Welcome to our service. Your account
  <strong>{{email}}</strong>
  is now active.</p>

<p>
  <a class="button" href="{{activationLink}}">Activate account</a>
</p>

<p>Thanks,<br />The Team</p>